.esconder{
           display:none;
           
       }
    
#header, #rodape{
    background-image: url(fundo.jpg);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */
      
    
}
#card1{
    background-image: url(monitoria.svg);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */
      
}

#card2{
    background-image: url(applitro.svg);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */                
}

#card3{
    background-image: url(bezier.svg);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */
}
#card4{
    background-image: url(curso.png);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */
}

#card5{
    background-image: url(minicurso.svg);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */
}
#perfil{
height: 10%;
}
